.Tile {
  height: 50px;
  width: 50px;
  border: 3px solid #AAAAAA;
  border-radius: 10%;
  color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  user-select: none;
}
.Tile:hover {
  background: #DDDDDD;
}
.Tile:active {
  background: gold;
}
.BlankTile {
  height: 50px;
  width: 50px;
  border: 3px solid #AAAAAA;
  border-radius: 10%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  user-select: none;
}
.SelectedTile {
  background: gold;
  height: 50px;
  width: 50px;
  border: 3px solid #AAAAAA;
  border-radius: 10%;
  color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  user-select: none;
}